//reset
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font: bold 60px/1 "arial";
        // animation: flicker 1.5s infinite alternate;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 132, 255),
        0 0 80px rgb(0, 132, 255),
        0 0 90px rgb(0, 132, 255),
        0 0 100px rgb(0, 132, 255),
        0 0 150px rgb(0, 132, 255);
    }
}

// @keyframes flicker {
//     0%, 18%, 22%, 25%, 53%, 57%, 100% {
//         text-shadow:
//         0 0 4px #fff,
//         0 0 11px #fff,
//         0 0 19px #fff,
//         0 0 40px rgb(0, 132, 255),
//         0 0 80px rgb(0, 132, 255),
//         0 0 90px rgb(0, 132, 255),
//         0 0 100px rgb(0, 132, 255),
//         0 0 150px rgb(0, 132, 255);
//     }
// }